h1 {
    border:solid 5px  #ffcc00; 
    border-width: 0.8cm;
    text-align: center;
    color: #000000;
    padding: 10px;
    
}
body {
    background-image: url('https://static.wikia.nocookie.net/spongebobgalaxy/images/2/24/SpongeBob%27s_pineapple_house.png/revision/latest?cb=20171105032537');
    font-size: 30px;


}
.prvni {
    font-size: 30px;
    text-decoration: underline;
    
}

.druha {
    font-size: 30px;
}

h2 {
    font-size: 40px;
    text-decoration: underline;
}

.treti {
    font-size: 30px;
}
.freaky {color: #ffffffe8;
}