.znk{
    background-image: url('C:\Users\jirka\OneDrive\Plocha\web\strankaomne\images\znk.png');
    background-size: 100% 100vh;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;    
    width: 100vw;

}
.secret{
    background-color: black;
    color: white;
}
body{
    background-color: black;
}
p{
    color: white;
    font-size: 25px;
}
.secret_button{
    background-color: black;
    color: white;
    border-color: black;
}