.back{
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(255, 255, 255);
    
    padding: 100px;
    background-color: rgb(145, 255, 0);
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.front{
    display: flex;
    justify-content:space-around;
    align-items: center;
    border: rgb(255, 255, 255);
   
    padding: 25px;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.front:hover{
    color: rgba(0, 136, 255, 0);
    background-color: rgba(165, 42, 42, 0);
    transition: 100ms;
}

p{
    font-size: 20px;
    text-decoration: underline;
}
.logo{
    width: 115px; 
    height: 10vh;
    }